@import url('https://fonts.googleapis.com/css?family=Raleway');
html,h1{
    font-family: "Raleway";
    color: black;
}
body {
    background-image: url(background2.png);
}
.navbar {
    background-color: rgb(25,84,117);
    width: 100%;
    position: fixed;
    height: 65px;
    z-index: 9;
}
.right {
    color: white;
    float: right;
}
.left {
    color: white;
    float: left;
}
ul {
    list-style: none;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 10px;
    background-color: rgb(25,84,117);
    z-index: 9;
}
.nav-item {
    color: white;
}
.nav-item :hover{
    background-color: rgb(91, 153, 201);
    ;
}
.nav-link .nav-item a ul li .navbar-nav {
    display:inline;
}
.navbar-toggler {
    background-color: rgb(25,84,117);
}
.form-check-label .form-check-input ul li {
    display:inline;
}
ul {
    list-style: none;
}
a {
    color: white !important;
    text-decoration: none !important;
}
p {
    font-size: 15px; 
}
h1 {
    font-size: 50px;
    color: rgb(31, 92, 138);
}
section{
    align-items: center;
}
.aboutdetail {
    font-size: 15px;
    text-align: center;
}
img {
    padding-top: 46px;
}
p {
    color: white;
}
.intouch {
    font-family: "Raleway";
    color: white;
    font-size: 30px;
}
.mySlides {
    display: none;
}
.image-container {
    padding-top: 30px;
    max-width: 100%;
    position: relative;
    margin: auto;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    text-decoration: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}
.dropdown-menu {
    background-color: rgb(25,84,117);
}
.dropdown-item {
    background-color: rgb(25,84,117);
    color: white;
}
.dropdown-item:hover {
    background-color: rgb(31, 92, 138);
    color: white;
}
.text-center .logos .aboutdetail {
    align-items: center;
 }
.title-starters, .title-maincourse, .title-hot, .title-desserts, .title-aperitifs, .title-cocktails, .title-soft, .title-wine {
    margin: auto;
    width: 70%;
    background-image: url(background2.png);
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}
 .title-starters {
    background-image: URL(salad1.png);
}
.title-maincourse {
    background-image: URL(severalplates3.png);
}
.title-desserts {
    background-image: URL(desserts.png);
}
.title-soft {
    background-image: URL(SOFT.jpg);
}
.title-cocktails {
    background-image: URL(cocktails.jpg);
}
.title-aperitifs {
    background-image: URL(aperitif2.jpeg);
}
.title-wine {
    background-image: URL(Wine.png);
}
.title-hot {
    background-image: URL(Coffee.jpg);
}
.menu-item {
    background-color: rgb(227, 227, 217);
    padding: 15px 35px 15px 15px;
    border-radius: 3px;
    text-align: left;
}
h6 {
    text-align: left;
}
h4 {
    text-align: right;
    font-size: 10px;
}
.reservations-container {
    border: 1px solid black;
    width: 60%;
    margin: auto;
    padding: 50px;
    border-radius: 5px;
}
.btn {
    background-color: rgb(25,84,117); 
    color: white;
    border-radius: 5px;
    border: 1px solid rgb(25,84,117);
}
.btn:hover {
    background-color: rgb(25,84,117);
    border: 1px solid rgb(25,84,117);
}
.form-group {
    font-size: 15px;
    display: inline-block;
    color: rgb(25,84,117);
    padding-top: 10px;
    text-align: center;
}
.reservations-header {
    border: 1px solid rgb(25,84,117);
    background-color: rgb(25,84,117);
    color: white;
    width: 85%;
    border-radius: 5px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 15px 15px 0px 0px;
}
.container-fluid {
    background-color: rgb(25,84,117);
    color: white;
    width: 80%;
    position: fixed;
    top: 3.5%;
    left: 50%;
    height: 10px;
    transform: translate(-50%, -50%);
    z-index: 9;
    display: flex;
    margin: auto;
}
.col {
    padding-bottom: 2%;
}
.grid-container-contact {  
    color: white;
    width: 40%;
    background-color: rgb(25,84,117); 
    border: solid 1px black;
    border-radius: 5px;
    display: grid;
    font-size: 10px;
    text-align: center;
    margin: auto;
}
.grid-container3 {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    color: black;
    font-size: 10px;
    grid-gap: 50px;
    margin: auto;
    padding: auto;
}
.grid-container-about {
    border: solid 1px black;
    width: 60%;
    background-color: rgb(25,84,117); 
    color: white;
    font-size: 15px;
    text-align: justify;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
}
.collapse {
    background-color: rgb(25,84,117);
}